<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}"></h1>

<nav th:replace="fragments :: header"></nav>

<form method="post" action="/events/create">
    <div class="form-group">
        <label>Name (3-50 characters)
        <input type="text" th:field="${event.name}" class="form-control">
        </label>
        <p class="error" th:errors="${event.name}"></p>
    </div>

    <div class="form-group">
        <label>Description
        <input type="text" th:field="${event.description}" class="form-control">
        </label>
        <p class="error" th:errors="${event.description}"></p>
    </div>

    <div class="form-group">
        <label>Contact Email
        <input type="text" th:field="${event.contactEmail}" class="form-control">
        </label>
        <p class="error" th:errors="${event.contactEmail}"></p>
    </div>

    <div class="form-group">
        <label>Contact Phone
        <input type="tel" th:field="${event.contactPhone}" class="form-control">
        </label>
        <p class="error" th:errors="${event.contactPhone}"></p>
    </div>

    <div class="form-group">
        <label>Event Location
        <input type="text" th:field="${event.eventLocation}" class="form-control">
        </label>
        <p class="error" th:errors="${event.eventLocation}"></p>
    </div>

    <div class="form-group">
        <label>Require Registration?
        <input type="checkbox" th:field="${event.mustRegister}" class="form-check-input">
        </label>
        <p class="error" th:errors="${event.mustRegister}"></p>
    </div>

    <div class="form-group">
        <input type="submit" value="Create Event" class="btn btn-success">
    </div>
</form>

</body>
</html>